:root{
  --left-button-bg : #ffffff;
  --overall-text : #000000;
  --list-alt-1 : #000000;
  --list-alt-2 : #1D1F18;
  --list-selected : #646A5C;
  --list-header-option : #32362A;
  --universal-green-color : #c5d4a4;
}

/* Main container */
.main-container{
  height: 100vh;
  background: var(--universal-green-color);
  background-image: url("../images/aks-gta.png");
  background-repeat: no-repeat;
  background-position: 20% top;
}

/* Starting of left side! */
.home-left{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Logo */
.home-left img{
  width: 330px;
  margin: 2rem 0 1.7rem;
}

/* Navigation */
.home-navigation li{
  list-style: none;
  margin-bottom: 1rem;
}
.home-navigation li a{
  text-decoration: none;
  color: var(--left-button-bg);
  font-size: 2.5em;
  display: block;
  padding: 10px 10px;
}
.res-li:hover,
.con-li:hover{
  background-color: var(--left-button-bg);
  clip-path: polygon(69% 8%, 100% 11%, 100% 88%, 41% 97%, 0% 100%, 0% 10%);
  color: black;
}

.pro-li:hover,
.tool-li:hover{
  background-color: var(--left-button-bg);
  clip-path: polygon(33% 6%, 100% 0, 100% 100%, 53% 98%, 1% 89%, 0 14%);
  color: black;
}


