:root{
  --left-button-bg : #ffffff;
  --overall-text : #000000;
  --list-alt-1 : #000000;
  --list-alt-2 : #1D1F18;
  --list-selected : #646A5C;
  --list-header-option : #32362A;
  --universal-green-color : #c5d4a4;
}

/* Main container */
.main-container{
  height: 100vh;
  background: var(--universal-green-color);
  background-image: url("../images/aks-gta.png");
  background-repeat: no-repeat;
  background-position: 20% top;
}

/* Starting of left side! */
.home-left{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Logo */
.home-left img{
  width: 330px;
  margin: 2.35rem 0;
}

/* Navigation */
.home-navigation li{
  list-style: none;
  margin-bottom: 2rem;
}
.home-navigation li a{
  text-decoration: none;
  color: var(--overall-text);
  font-size: 2.5em;
}



