:root{
  --left-button-bg : #ffffff;
  --overall-text : #000000;
  --list-alt-1 : #000000;
  --list-alt-2 : #1D1F18;
  --list-selected : #646A5C;
  --list-header-option : #32362A;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}